<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         verbose="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">

    <testsuites>
        <testsuite name="Burroughs Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="BASE_DIR" value="."/>
    </php>
</phpunit>
